<div class="m-3">
    <h2>Menu</h2>
    <button [routerLink]="['/pizza', 'new']" class="btn btn-primary">
        New Pizza
    </button>
</div>
<div class="card m-3">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let pizza of pizzasList">
                <th scope="row">1</th>
                <td>{{pizza.name}}</td>
                <td>{{pizza.description}}</td>
                <td>
                    <button class="btn btn-primary mr-1" [routerLink]="['/pizza-details', pizza._id]">
                        Details
                    </button>

                    <button (click)="deletePizza(pizza)" class="btn btn-secondary">
                        Delete
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>