<h2>List of Topping</h2>
<button *ngIf="!id" [routerLink]="['/topping']" class="btn btn-primary">
    New Topping
</button>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let topping of toppingsList">
            <td>{{topping.name}}</td>
            <td>
                <button *ngIf="id" (click)="selectTopping(topping)" class="btn btn-primary">
                    Seleccionar
                </button>
                <button *ngIf="!id" (click)="deleteTopping(topping)" class="btn btn-secondary">
                    Delete
                </button>
            </td>
        </tr>
    </tbody>